/* Import Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+HU:wght@100..400&display=swap");

/* Common styles Start  */
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  width: 100%;
  font-family: Inter;
  line-height: 1.5rem;
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 255, 255);
  line-height: 7rem;
  margin-top: 30px;
}
h2 {
  font-size: 5rem;
  font-weight: 900;
}
h3 {
  font-size: 3rem;
  font-weight: 900;
}
h4 {
  font-size: 2rem;
  font-weight: 900;
}
h5 {
  font-size: 1.75rem;
  font-weight: 700;
}
h6 {
  font-size: 1.125rem;
  font-weight: 600;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 30px;
}
p.primary {
  font-size: 0.875rem;
}
.btn {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  border-radius: 42px;
  padding: 15px 40px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(14, 14, 14);
  margin-top: 30px;
}
.btn-primary {
  border: none;
  background: rgb(230, 83, 60);
  margin-right: 15px;
}
/* Common styles End  */

/* Header Area styles End  */
header {
  background: linear-gradient(180deg, rgb(17, 17, 17), rgba(28, 28, 28) 100%);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
header nav h1 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  margin: 0;
}
header nav ul {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a.nav-item {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  border-radius: 42px;
  padding: 15px 40px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(14, 14, 14);
  padding: 8px 40px;
}
header nav ul li a.active {
  border: none;
  background: rgb(230, 83, 60);
  margin-right: 15px;
}
/* Header Area styles End  */
main {
  background: #000;
}
/* Banner Area Style  Start */
#Banner_Area {
  background: linear-gradient(180deg, rgb(29, 29, 29), rgb(5, 5, 5) 100%);
  margin-top: -50px;
}
#Banner_Area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
#Banner_Area h2 .cursive {
  font-family: "Playwrite HU", cursive;
  font-weight: 200;
}
#Banner_Area .image {
  position: relative;
  margin: 70px 20px;
}
#Banner_Area .image {
  position: relative;
  margin: 70px 0 0 30px;
}
#Banner_Area .image .badge_heading {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  display: block;
}
#Banner_Area .image .badge_text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.813rem;
  font-weight: 400;
  display: block;
}
#Banner_Area .image .feature_badge_1 {
  position: absolute;
  right: -30px;
  top: 135px;
  background: #393939;
  padding: 15px;
  border-radius: 15px;
}
#Banner_Area .image .feature_badge_2 {
  position: absolute;
  bottom: 30px;
  background: #393939;
  padding: 20px;
  border-radius: 15px;
}
#Banner_Area .image .feature_badge_2 .tutorial {
  display: flex;
  align-items: center;
}
#Banner_Area .image .feature_badge_2 .tutorial .icon {
  padding: 16px 20px;
  border-radius: 50%;
  background: #e6533c;
  margin-right: 10px;
  color: #ffffff;
}
/* Banner Area styles End  */

/* Habit Area styles Start  */
#Habit_Area {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  text-align: center;
  padding: 50px 0;
}
#Habit_Area .item {
  display: flex;
  margin-top: 4rem;
}
#Habit_Area .item img {
  border-radius: 50%;
}
#Habit_Area p.subtitle {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
}
/* Habit Area styles End  */
/* Run Easily Area styles Start  */
#Run_Easily {
  padding: 60px 0;
}
#Run_Easily .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 34, 34);
  border-radius: 8px;
  padding: 40px 50px;
}
#Run_Easily .container .content {
  margin-right: 100px;
}
#Run_Easily .container .image {
  width: 370px;
  height: fit-content;
}
#Run_Easily .container .image img {
  width: inherit;
  border-radius: 8px;
}
/* Run Easily Area styles End  */

/* BMI Calculator styles Start  */
#BMI_Calculator {
}
#BMI_Calculator .calculator_heading_desktop {
  width: 50%;
  text-align: left;
  margin: 40px auto;
}
#BMI_Calculator .calculator_heading_desktop h3 {
  line-height: 3rem;
}
#BMI_Calculator .main_container {
  background: #222222;
}
#BMI_Calculator .container {
	display: flex;
	align-items: start;
}
#BMI_Calculator .container .chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
#BMI_Calculator .container .chart table,
#BMI_Calculator .container .chart th,
#BMI_Calculator .container .chart td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 1rem;
}
#BMI_Calculator .container .chart th {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
#BMI_Calculator .container .chart td {
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
}
#BMI_Calculator .container .input_your_data {
  flex: 1;
}
#BMI_Calculator .container form {
  display: grid;
  width: 100%;
  gap: 10px;
  margin: 30px 0;
  grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item5"
    "item6 i";
}
#BMI_Calculator .container .grid_item {
  font-size: 1rem;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.5);
  background: #393939;
  border-radius: 8px;
  border: none;
}
.grid_item1 {
  grid-area: item1;
}
.grid_item2 {
  grid-area: item2;
}
.grid_item3 {
  grid-area: item3;
}
.grid_item4 {
  grid-area: item4;
}
.grid_item5 {
  grid-area: item5;
}
.grid_item6 {
  grid-area: item6;
}

/* styles Start  */
/* styles End  */
