/* Import Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+HU:wght@100..400&display=swap");

/* Common styles Start  */
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  width: 100%;
  font-family: Inter;
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 255, 255);
  line-height: 120%;
  margin-top: 30px;
}
h2 {
  font-size: 5rem;
  font-weight: 900;
}
h3 {
  font-size: 3rem;
  font-weight: 900;
}
h4 {
  font-size: 2rem;
  font-weight: 900;
}
h5 {
  font-size: 1.75rem;
  font-weight: 700;
}
h6 {
  font-size: 1.125rem;
  font-weight: 600;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  margin-top: 30px;
}
p.primary {
  font-size: 0.875rem;
}
.btn {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  border-radius: 42px;
  padding: 15px 40px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(14, 14, 14);
  margin-top: 30px;
}
.btn-primary {
  border: none;
  background: rgb(230, 83, 60);
  margin-right: 15px;
}
/* Common styles End  */

/* Header Area styles End  */
header {
  background: linear-gradient(180deg, rgb(17, 17, 17), rgba(28, 28, 28) 100%);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
header nav h1 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  margin: 0;
}
header nav ul {
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 39px;
	padding: 4px 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a.nav-item {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  border-radius: 42px;
  padding: 15px 40px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(14, 14, 14);
  padding: 8px 40px;
}
header nav ul li a.active {
  border: none;
  background: rgb(230, 83, 60);
  margin-right: 15px;
}
/* Header Area styles End  */

/* Banner Area Style  Start */
#Banner_Area {
  background: linear-gradient(180deg, rgb(29, 29, 29), rgb(5, 5, 5) 100%);
  margin-top: -50px;
}
#Banner_Area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
#Banner_Area h2 .cursive {
  font-family: "Playwrite HU", cursive;
  font-weight: 200;
}
#Banner_Area .image {
  position: relative;
  margin: 70px 20px;
}
#Banner_Area .image {
  position: relative;
  margin: 70px 0 0 30px;
}
#Banner_Area .image .badge_heading {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  display: block;
}
#Banner_Area .image .badge_text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.813rem;
  font-weight: 400;
  display: block;
}
#Banner_Area .image .feature_badge_1 {
  position: absolute;
  right: -30px;
  top: 135px;
  background: #393939;
  padding: 15px;
  border-radius: 15px;
}
#Banner_Area .image .feature_badge_2 {
  position: absolute;
  bottom: 30px;
  background: #393939;
  padding: 20px;
  border-radius: 15px;
}
#Banner_Area .image .feature_badge_2 .tutorial {
  display: flex;
  align-items: center;
}
#Banner_Area .image .feature_badge_2 .tutorial .icon {
  padding: 16px 20px;
  border-radius: 50%;
  background: #e6533c;
  margin-right: 10px;
  color: #ffffff;
}
/* Banner Area styles End  */

/* Habit Area styles Start  */
#Habit_Area {
	background: #000;
	display: flex;
	flex-direction: column;
	margin-top: -50px;
	text-align: center;
  padding: 50px 0;
}
#Habit_Area .item {
	display: flex;
	margin-top: 4rem;
}
#Habit_Area .item img {
	border-radius: 50%;
}
#Habit_Area p.subtitle {
	font-size: 0.875rem;
	margin-top: .5rem;
	line-height: 1.2rem;
}
/* Habit Area styles End  */
/* styles Start  */
/* styles End  */
/* styles Start  */
/* styles End  */
